
<div class="sign-up">

<div class="signup-second">

<h3>マイページ</h3>


<p>名前 : <%= @user.name %></p>
<p>メールアドレス : <%= @user.email %></p>

<% if current_user.id == @user.id %>
  <%= link_to "編集する", edit_user_registration_path %>
<% end %>


<div class="user-top">
<div class="user1">
<h3>ユーザーの投稿一覧</h3>
<% @user.forums.each do |t| %>
  <div class="user-one">

  <%= t.about %>
  <%= button_to "削除する", forum_path(t.id), method: :delete %>
  </div>
<% end %>
</div>
<div class="user1">
<h3>ユーザーがいいねした投稿一覧</h3>
<% @user.liked_forums.each do |t| %>
  <div class="user-one">
  <%= t.user.name %>
  <%= t.about %>
  <%= button_to "削除する", forum_path(t.id), method: :delete %>
  </div>
<% end %>
</div>
</div>

<%= link_to "forum一覧に戻る", forums_path %>

</div>
</div>